body {
    font-family: 'Nanum Myeongjo', serif;
}

header {
    background-color: #363A53;
    color: #F6F6E8;
    font-family: "Gill Sans", sans-serif ;
    letter-spacing: 0.5px;
    
}

footer {
    background-color: #56678A;
    height: 90px;
}

.main {
    background-image: url("olga-thelavart-vS3idIiYxX0-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 930px;
    
    
} 