{% extends 'base.html' %}
{% load static %}
{% block customcss %}
    <link rel="stylesheet" href="{% static 'home.css' %}" type="text/css">
{% endblock customcss %}

{% block content %}
    <div style="text-align:center; padding-top:120px;">
        <div>

            <form action='{% url 'rank' %}' method='post'>{% csrf_token %}

                <p>
                    <input style="width: 210px;" type="text" name="searchWords" placeholder="예) 하나님 심정">
                    <button type="submit">Enter</button>
                    {% if error_msg %}
                        <p style="color:red;">{{ error_msg }}
                            <p>
                            {% endif %}
                        </p>
                    </form>
                </div>
                <p>or</p>
                <div>
                    <form action='{% url 'gofunc' %}' method='post'>{% csrf_token %}

                        <p><input style="width: 71px;" type="text" name="bookId" placeholder="예) 55">
                            권
                            <input style="width: 71px;" type="text" name="page" placeholder="예) 100">
                            페이지
                            <button type="submit">Enter</button>
                            {% if error_msg2 %}
                                <p style="color:red;">{{ error_msg2 }}
                                    <p>
                                    {% endif %}
                                </p>

                            </form>
                        </div>
                    </div>

                </div>
            {% endblock %}
