{% extends 'base.html' %}
{% load static %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'kebaruja.css' %}">

{% endblock customcss %}

{% block content %}
    <div class="kebaruja_main">
        <p style="float:right;">
            <a href="{% url 'kebaruja_ja' %}">日本語</a>
        </p>
        <p class="kebaruja_title">개발자의 한마디
        </p><br>
        <br>

        <div class="contents">
            [목차]<br>
            <br>
            - 자기소개<br>
            - 본 사이트를 만든 목적<br>
            - 어떻게 이 사이트를 만들었는지<br>
            - 앞으로 어떻게 업데이트 해 나가는지<br>
            - 개발자 지원<br>
            - 지금부터 만들 소프트웨어<br>
        </div>
        <br>
        <br>
        <b>자기소개</b><br>
        <br>
        안녕하세요.<br>
        <br>
        본사이트 MICHIKUSA를 개발하고 있는 모리라고 합니다.<br>
        <br>
        현재 선문대학교 AI소프트웨어학과에 재학 중이며, 2021년도에 2학년이 됩니다.<br>
        <br>
        <b>본 사이트를 만든 목적</b><br>
        <br>
        저는 천성경을 좋아합니다. 내용도 분위기도 마음에 들기 때문입니다.<br>
        <br>
        그런데 천성경은 참부모님의 말씀을 부분적으로 발췌한 책이기 때문에 개속 보고 싶은 말씀을 찾아도 개속해서 볼 수가 없습니다.<br>

        <br>
        그래서 만든 게 MICHIKUSA입니다.이름에는 "궁금한 말씀에 미치쿠사（道草）한다"라는 의미가 담겨져 있습니다.<br>
        <br>
        <b>어떻게 이 사이트를 만들었는지</b><br>
        <br>
        개발은 주로 '데이터 사전처리', '전문 검색엔진 실장', '디자인' 이 세 가지 공정으로 했습니다. 각각의 공정에서 사용한 기술은 이래와 같습니다.<br>
        <br>
        ・ 데이터 처리<br>
        <br>
        PostgresSQL<br>
        Python<br>
        <br>
        <br>
        ・ 전문 검색엔진 실장<br>
        <br>
        Django<br>
        <br>
        <br>
        ・ 디자인<br>
        <br>
        HTML 및 CSS<br>
        <br>
        <b>앞으로 어떻게 업데이트 해 나가는지</b><br>
        <br>
        최종적으로는 모바일 앱을 만들 예정입니다.<br>
        <br>
        모바일 앱으로 개발하면 스마트 폰 카메라를 통해 제 몇 권의 몇 페이지의 말씀인지 자동으로 판정하고, 그 페이지에 바로 이동하는 기능을 실장할 수 있기 때문입니다.<br>
        <br>
        또 마음에 드는 말씀을 저장하는 기능도 있었으면 좋겠다고 생각합니다.<br>
        <br>
        <b>지원해 주신 분</b><br>
        <br>
        현재 MICHIKUSA의 버전은 2(2020년 12월 27일 공개)이지만, 사실 버전 1(같은 해 11월 15일 공개)을 만들었을 때 "이제 됐나"하고 개발을 멈췄습니다.검색할 수
        있는 구조까지는 실장했었기 때문입니다.그런데, 어느 선문대의 OB분이 "지금 시대에 필요하는 소프트웨어다!"라고 하시며, 용돈까지 주셨습니다.<br>
        <br>
        자기가 하는 일이 인정되어서 너무 기뻤습니다.덕분에 모티베이션이 더해져 기능을 더 추가한 버전 2를 공개할 수 있었어요.<br>
        <br>
        <b>개발자 지원</b><br>
        <br>
        <br>
        그래서(?) 서버비, 시간, 의욕 등 자원이 한정되어 있으므로 만약 괜찮다면 지원해 주시면 감사하겠습니다.<br>
        <br>
        아마존을 통해 선물을 보랠 수 있습니다.<br>
        <br>
        개발자가 사고 싶은 물품 목록은
        <a href="https://www.amazon.jp/hz/wishlist/ls/3HBJRXBCBQAF8?ref_=wl_share">이 링크</a>를 통해 확인할 수 있습니다.여기에서 구입하시면 아마존에서 익명으로 제 주소에까지 도착할 수 있는 사양으로 되어 있습니다.대단하죠.<br>
        <br>
        다만 누가 보내준 건지 모르면 슬프기 때문에 가능하면 페이스북 등으로 한마디 주시면 감사하겠습니다.<br>
        <br>
        <b>지금부터 만들 소프트웨어</b><br>
        <br>
        남은 대학생활 중에서 선문대학을 위해서 만들려고 생각하고 있는 것은 아래와 같습니다.<br>
        <br>
        ・ 선문 아이디어박스<br>
        <br>
        첫 번째는 모두의 아이디어를 공유할 수 있는 게시판입니다.<br>
        <br>
        단순한 게시판이 아니라, 아이디어를 실현하는 데까지 시스템적으로 지원해 나갈 수 있는 형태를 목표로 합니다.<br>
        <br>
        구체적으로는, 선문 OB를 비롯한 식구 분들에게 좋은 아이디어를 가지고 있는 학생 개인 또는 그룹에 경제적인 지원을 할 수 있는 시스템을 만들면 좋겠다고 생각합니다.<br>
        <br>
        만들고 싶은 이유는 제가 이 사이트를 만드는데 있어서 도움을 받았듯이 다른 선문대생들도 지원을 받을 수 있으면 좋겠다고 느끼기 때문입니다.<br>
        <br>
        앞으로 신학을 전공하지 않는 학생들은 장학금을 받을 수 없습니다만 이러한 시스템이 잘 작동된다면 경제적으로 어려움을 겪는 학생들이 조금이라도 줄어들 것이라고 생각합니다.<br>
        <br>
        · 선문 온라인 학습실<br>
        <br>
        두번째는 온라인 학습실입니다.<br>
        <br>
        지금 코로나로 인에 여러 가지가 온라인화 되어 있는데, 자율학습실을 온라인화하면 좋다고 생각합니다.<br>
        <br>
        혼자서는 집중할 수 없는 과제나 학습도 ZOOM을 통해 함께 하면 쉽게 풀리게 되는 경우가 많습니다.<br>
        <br>
        ・ 선문 재활용 서비스<br>
        <br>
        선문대학교에서는 학기가 끝나면 쓰레기통에 아직 쓸 만한 것 들이 수북히 쌓여요. 특히 졸업생들이 남기는 것들은 가치 있는 것이 많습니다.<br>
        <br>
        그런 것들을 서로가 교체하는 시스템을 만들고 싶습니다.<br>

    </div>
{% endblock content %}
