{% extends 'base.html' %}
{% load static %}
{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'kebaruja.css' %}">

{% endblock customcss %}

{% block content %}
    <div class="kebaruja_main">
        <p style="float:right;">
            <a href="{% url 'kebaruja_ko' %}">한국어</a>
        </p>
        <p class="kebaruja_title">開発者およびこのサイトについて

        </p><br>
        <br>

        <div class="contents">
            <p>【目次】</p>

            <div>
                - 自己紹介<br>
                - サイトを作った目的<br>
                - どうやってサイトを作ったか<br>
                - これからどのようにアップデートしていくか<br>
                - 支援してくれる方へ<br>
                - これから作ろうと思っているもの<br>
            </div>

        </div>
        <br>
        <br>
        <b>自己紹介</b><br>
        <br>
        こんにちは、こんばんは、おはようございます。<br>
        <br>
        本サイトMICHIKUSAを開発してる森と申します。<br>
        <br>
        現在、鮮文大学のAIソフトウェア学科に在籍していて、２０２１年度に２年生になります。<br>
        <br>
        <b>サイトを作った目的</b><br>
        <br>
        僕は御言の中でも天聖経が気に入っています。内容もそうですし、なんとなく雰囲気がかっこいいからです。<br>
        <br>
        そんなお気に入りの天聖経ですが、訓読していてよく思うことがありました。<br>
        <br>
        「気になる御言の続きをみたいのにいいところで途切れちゃう。」<br>
        <br>
        天聖経は６００巻近くある御言選集からエッセンスを部分的に抜粋する形になっています。膨大な御言を整理して、まとめていただいて感謝です。ただ、たまには気になった御言をもっと深く掘り下げたくなります。<br>
        <br>
        そこで作ったのがMICHIKUSAです。名前には「気になった御言に道草する」という意味が込められていて、開発者が日本人という地味な主張も兼ねています。<br>
        <br>
        <b>どうやってサイトを作ったか</b><br>
        <br>
        開発は主に「データを前処理する」「検索エンジンを作る」「見た目を整える」この３つの工程で行いまして、約３ヶ月くらいかかりました。それぞれの工程で使った技術は以下の通り。<br>
        <br>
        ・データを前処理する<br>
        <br>
        PostgresSQL<br>
        Python<br>
        <br>
        <br>
        ・検索エンジンを作る<br>
        <br>
        Django<br>
        <br>
        <br>
        ・見た目を整える<br>
        <br>
        HTML/CSS<br>
        <br>
        <b>これからどのようにアップデートしていくか</b><br>
        <br>
        最終的にはモバイルアプリを作ろうと思っています。<br>
        <br>
        モバイルアプリにすることによって、スマホカメラで御言をかざすだけで第何巻の何ページの御言か自動で判定して、そのページに飛ぶような実装ができるからです。<br>
        <br>
        また、気に入った御言をクリップする機能もあったらいいなと感じています。<br>
        <br>
        エネルギーをだいぶ使い切ったのでバージョン３の開発にはしばらく着手しないかもしれませんが、ユーザーの反応などを見ながらまた開発したい気持ちが出てき次第取り掛かりたいと思います。<br>
        <br>
        <b>支援してくれた方</b><br>
        <br>
        現在のMICHIKUSAのバージョンは２（２０２０年１２月２７日公開）ですけれども、実はバージョン１（同年１１月１５日公開）を作った時に「もういいかな」と思って開発を止めていました。検索できる仕組みまではできていたからです。しかし、ある鮮文大学のOBの方が「これから時代に必要だ！」とおっしゃってくれまして、お小遣いまでくれたのです。<br>
        <br>
        自分のやっていることが認められてとてもうれしくなりました。おかげでモチベーションがあがり、機能をより充実させたバージョン２を公開することができました。<br>
        <br>
        <b>開発者を支援する方法</b><br>
        <br>
        ということで（？）、サーバー代、時間、やる気など、資源が限られているのでもしよかったら支援してくださると嬉しいです。支援方法は以下のとおり。<br>
        <br>
        ・開発者の書籍を買う（すすめる）<br>
        <br>
        韓国語語学院での成功体験を本にしました。<br>
        <br>
        <a
            href="https://www.amazon.co.jp/%E6%9C%80%E9%80%9F%E3%81%A7%E7%B5%90%E6%9E%9C%E3%82%92%E5%87%BA%E3%81%99%E9%9F%93%E5%9B%BD%E8%AA%9E%E5%8B%89%E5%BC%B7%E6%B3%95-%E3%82%BC%E3%83%AD%E3%81%8B%E3%82%89%E9%9F%93%E5%9B%BD%E8%AA%9E%E8%83%BD%E5%8A%9B%E8%A9%A6%E9%A8%93%EF%BC%96%E7%B4%9A%E3%81%AB%E3%81%9F%E3%81%A3%E3%81%9F%EF%BC%97%E3%83%B6%E6%9C%88%E3%81%A7%E5%90%88%E6%A0%BC%EF%BC%81-%E6%A3%AE-%E5%AE%A3%E5%8D%9A-ebook/dp/B08R7WC2NL/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&dchild=1&keywords=%E9%9F%93%E5%9B%BD%E8%AA%9E%E8%83%BD%E5%8A%9B%E8%A9%A6%E9%A8%93+%E5%8B%89%E5%BC%B7%E6%B3%95&qid=1608998733&sr=8-1">最速で結果を出す韓国語勉強法：ゼロから韓国語能力試験にたった７ヶ月で合格！</a><br>
        <br>
        ・アマゾンの欲しい物リストから開発者にプレゼントする<br>
        <br>
        開発者の買ってほしいものリストは<a href="https://www.amazon.jp/hz/wishlist/ls/3HBJRXBCBQAF8?ref_=wl_share">このリンク</a>より確認できます。ここから購入していただくと、アマゾンから匿名で僕の住所にまで届く仕様になっています。すごいですよね。<br>
        <br>
        ただ、誰から送ってもらったのかわからないと悲しいので、できればフェイスブックなどで一言いただけるとありがたいです。<br>
        <br>
        <b>これから作ろうと思っているもの</b><br>
        <br>
        残りの大学生活で鮮文大学のために作ろうと思っているのは今のところ以下の３つです。<br>
        <br>
        ・鮮文アイデアボックス<br>
        <br>
        １つ目は、みんなのアイデアをシェアできる掲示板です。<br>
        <br>
        ただの掲示板ではなく、アイデアを実現することろまでシステム的に支援していけるような形を目指します。<br>
        <br>
        具体的には、鮮文OBをはじめとする食口の方々にいいアイデアを持っている学生個人またはグループに経済的な支援ができるようなシステムを作れたらいいと思っています。<br>
        <br>
        作りたい理由は、僕がこのサイトを作るにあたって支援をしてもらったように、他の鮮文大生も自分の持っているアイデアを応援してもらえる場が必要だと感じたからです。<br>
        <br>
        これから神学を専攻する以外の学生は奨学金をもらえないみたいですけれども、このようなシステムがうまく働けば金銭的に苦労する学生が少しでも減ると考えています。<br>
        <br>
        ・鮮文オンライン自習室<br>
        <br>
        ２つ目はオンライン上の自習室です。<br>
        <br>
        今コロナでいろんなことがオンライン化されていますが、自習室をオンライン化するといいことがたくさんあると思います。<br>
        <br>
        一人では集中できない課題や学習も、ZOOMを通して一緒にやればなんなくこなせるようになることも多いです。<br>
        <br>
        ・鮮文リサイクル<br>
        <br>
        鮮文大学では、学期が終わるたびにゴミ箱にまだ使えそうなものが山のように積まれます。特に卒業生が残すものは価値のあるものが多いです。<br>
        <br>
        そのようなものをうまくお互いがWin-Winになるように交換できるようなシステムを作りたいと思っています。これはみんな考えていることですが、意外と誰も着手まではしていないです。<br>
        <br>
        お金が動くサービスなので実装が少し大変かもしれませんけれども、調べる限り全然可能だと思っています。<br>
        <br>
        <br>
    </div>
{% endblock content %}
